:root {
    --background-color-gradient: linear-gradient(180deg, #000 18.11%, #041B3A 28.13%, #09264D 56.77%, #000 100%);
    --main-source: 'Inter';
    --caption-color: #FFFFFF;
    --secondary-legend-color: #F9F9F9;
    --third-legend-notice-color: #C0C0C0;
    --button-color: #167BF7;
}  

body {
    background: var(--background-color-gradient);
    color: var(--caption-color);
    font-family: var(--main-source);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.primary {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__box {
    margin: 0 6em;
}

.box__title {
    color: var(--caption-color);
    font-size: 28px;
    font-weight: 700;
}

.box__img {
    margin: 1em 0 2em 0;

}

.box__button {
    background-color: var(--button-color);
    color: var(--secondary-legend-color);
    border-radius: 8px;
    display: grid;
    padding: 1em;
    align-items: flex-start;
    gap: 16px;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.box__button__transparent {
    background-color: transparent;
    text-decoration: none;
    color: var(--caption-color);
    border: 2px solid var(--caption-color);
    border-radius: 8px;
    display: grid;
    padding: 16px;
    align-items: flex-start;
    gap: 16px;
}

.container__notice {
    color: var(--third-legend-notice-color);
    text-align: center;
    font-size: 12px;
    font-family: var(--caption-color);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.secondary__img {
    width: 80%;
}

.container__description {

}

.description__title {
    color: var(--caption-color);
    margin-bottom: 0.1em;
    font-family: var(--main-source);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.description__paragraph {
    color: var(--secondary-legend-color);
    font-family: var(--main-source);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.8;
}   