:root {
    --background-color-gradient: linear-gradient(180deg, #000 21.51%, #041B3A 28.38%, #09264D 57.73%, #000 100%);
    --main-source: 'Inter';
    --caption-color: #FFFFFF;
    --secondary-legend-color: #F9F9F9;
    --third-legend-notice-color: #C0C0C0;
    --button-color: #167BF7;
}  

body {
    background: var(--background-color-gradient);
    color: var(--caption-color);
    font-family: var(--main-source);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.primary {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__box {
    margin: 0 6em;
}

.box__title {
    color: var(--caption-color);
    font-size: 28px;
    font-weight: 700;
}

.box__img {
    margin: 1em 0 2em 0;

}

.box__button {
    background-color: var(--button-color);
    color: var(--secondary-legend-color);
    border-radius: 8px;
    display: grid;
    padding: 1em;
    align-items: flex-start;
    gap: 16px;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.box__button:hover {
    background-color: #004396;
    transition: all ease-in 0.5s;
    transform: scale(1.1);
}

.box__button__transparent {
    background-color: transparent;
    text-decoration: none;
    color: var(--caption-color);
    border: 2px solid var(--caption-color);
    border-radius: 8px;
    display: grid;
    padding: 16px;
    align-items: flex-start;
    gap: 16px;
}

.box__button__transparent:hover {
    transition: all 0.5s;
    transform: scale(1.1);
}

.container__notice {
    color: var(--third-legend-notice-color);
    text-align: center;
    font-size: 12px;
    font-family: var(--caption-color);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.secondary__img {
    width: 80%;
}

.container__description {
    padding: 2em;
}

.description__title {
    color: var(--caption-color);
    margin-bottom: 0.1em;
    font-family: var(--main-source);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.description__paragraph {
    color: var(--secondary-legend-color);
    font-family: var(--main-source);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.8;
}

.secondary__button {
    display: inline-block;
    margin-top: 1em;
}

.devices {
    text-align: center;
}

.devices__title {
    color: var(--caption-color);
    text-align: center;
    font-family: var(--main-source);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none; 
    margin: 5em 0;
}

.list__item {
    color: var(--caption-color);
    text-align: center;
    font-family: var(--main-source);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.footer {
    text-align: center;
    margin: 5em 3em;
}

.footer__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
    
}

.list__link a{
    text-decoration: none;
    color: var(--caption-color);
    margin-left: 1em;
}

.list__link a:hover {
    color: var(--button-color);
}

.footer__paragraph {
    color: var(--third-legend-notice-color);
    text-align: center;
    font-family: var(--main-source);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 1em 0;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;

    }

    .box__img {
        width: 50vw;
    }

    .container__box {
        margin: 2em 2em;
    }

    .secondary {
        margin: 0;
        text-align: center;
    }

    .secondary__img {
        width: 50vw;
    }

    .devices__list {
        display: block;
    }

    .footer__list {
        display: block;
    }
}